.dashboard-content {
  padding: 30px;
}


.statsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.mainGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.infoArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1200px) {
  .mainGrid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 992px) {
  .statsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}