.infoCard {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.infoTextWrapper {
  display: flex;
  flex-direction: column;
}

.infoTitle {
  color: #777;
}

.infoValue {
  color: #333;
  font-size: 1.8rem;
  font-weight: bold;
}

.infoIconWrapper {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.8rem;
}